.noResults{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

h1, h3{
    margin: 0px;
}

#searchResults{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 7px;
    margin-bottom: 20px;
}

#sizer{
    width:800px;
}

#searchHeader{
    display:flex;
    justify-content: space-between;
    align-items: center;

    /* text-align: center; */
    background-color: #103562;
    color: white;
    padding: 20px 0px;
    /* margin: 10px 30px; */
    /* border-radius: 25px; */
}

#searchHeader > *{
    padding-left: 20px;
    padding-right: 20px;
}

#searchResultsBorder{
    border: 1px solid black;
}

.tableStyle{
    border: none;
    border-collapse: collapse; 
    border-spacing: 0;
}

td, th{
    display: table-cell;
}

tr:nth-child(even){background-color: #f2f2f2}

.titleCol{
    width: 200px; 
}

.lengthCol{
    width: 75px;
}

.surfaceCol{
    width: 100px;
}

.descriptionCol{
    width: 250px;
}

.table-text-top > td{
    vertical-align: text-top;
    padding: 10px 0px;
}

.table-text-bottom > th{
    vertical-align: text-bottom;
    text-align: left;
}

.useTypeCol{
    width: 24px;
    text-align: center;
}