.noResults{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

h1, h3{
    margin: 0px;
}

#searchResults{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 7px;
    margin-bottom: 20px;
}

#sizer{
    width:800px;
}

#searchHeader{
    display:flex;
    justify-content: space-between;
    align-items: center;

    /* text-align: center; */
    background-color: #103562;
    color: white;
    padding: 20px 0px;
    /* margin: 10px 30px; */
    /* border-radius: 25px; */
}

#searchHeader > *{
    padding-left: 20px;
    padding-right: 20px;
}

#searchResultsBorder{
    border: 1px solid black;
}

.tableStyle{
    border: none;
    border-collapse: collapse; 
    border-spacing: 0;
}

#paginationControls{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#paginationControls > p{
    margin: 10px;
}


#paginationButtons > button:hover {
    background: #103562;
    background-image: -webkit-linear-gradient(top, #103562, #52b7fa);
    background-image: -moz-linear-gradient(top, #103562, #52b7fa);
    background-image: -ms-linear-gradient(top, #103562, #52b7fa);
    background-image: -o-linear-gradient(top, #103562, #52b7fa);
    background-image: linear-gradient(to bottom, #103562, #52b7fa);
    text-decoration: none;
}

.currentSelectedButton{
    background: #103562;
    background-image: -webkit-linear-gradient(top, #103562, #52b7fa) !important;
    background-image: -moz-linear-gradient(top, #103562, #52b7fa) !important;
    background-image: -ms-linear-gradient(top, #103562, #52b7fa) !important;
    background-image: -o-linear-gradient(top, #103562, #52b7fa) !important;
    background-image: linear-gradient(to bottom, #103562, #52b7fa) !important;
    text-decoration: none;
}

#paginationButtons > button{
    background: #103562;
    background-image: -webkit-linear-gradient(top, #103562, #21628a);
    background-image: -moz-linear-gradient(top, #103562, #21628a);
    background-image: -ms-linear-gradient(top, #103562, #21628a);
    background-image: -o-linear-gradient(top, #103562, #21628a);
    background-image: linear-gradient(to bottom, #103562, #21628a);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 13px 10px 13px;
    border-right: solid #ffffff 1px;
    border-left: solid #ffffff 1px;
    text-decoration: none;
    cursor: pointer;
}


td, th{
    display: table-cell;
}

tr:nth-child(even){background-color: #f2f2f2}

.titleCol{
    width: 200px; 
}

.lengthCol{
    width: 75px;
}

.surfaceCol{
    width: 100px;
}

.descriptionCol{
    width: 250px;
}

.table-text-top > td{
    vertical-align: text-top;
    padding: 10px 0px;
}

.table-text-bottom > th{
    vertical-align: text-bottom;
    text-align: center;
}

.useTypeCol{
    width: 24px;
    text-align: center;
}

.titleCol > a, .descriptionCol > p {
    padding-left: 5px;
    padding-right: 5px;
}

.textCenter{
    text-align: center;
}

.titleFormat{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titleMapLink{
    padding-top: 10px;
}

.titleMapLink > *{
    display: inline;
}

.titleMapLink > img{
    cursor: pointer;
}

.titleMapLink > p{
    font-size: 8px;
    margin-bottom: 8px;
    /* font-weight: bold; */
}