.onScreenAccord{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 45px;
}


.accordion {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    /* border-bottom: 1px solid black; */
    border: 1px solid black;
    margin: 2px;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

/* 
.widgetElem:last-child .accordion{
    border-bottom: none;
} */


.active, .accordion:hover {
    background-color: #ccc; 
}


.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}


.show{
    display: block;
    width: 260px;
    height: 500px;
    overflow-y: scroll;
    
}

#basemap-title{
    padding: 10px;
    font-weight: bold;
}


.imgCorrection{
    padding-left: 1px;
}



/*
    OnScreen Selected Info - START
*/
.onScreenSelectedInfo{
    position: absolute;
    left: 20px;
    bottom: 20px;
    background-color: white;
    padding: 5px;
    border: 1px solid black;
    border-radius: 20px;
    
}

.onScreenSelectedInfo .flexContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.onScreenSelectedInfo h2{
    margin: 0px;
    padding: 0px 10px;
    text-align: left;
    max-width: 650px;
}

.onScreenSelectedInfo .clearButton{
    cursor: pointer;
    padding-right: 10px;
}

/*
    OnScreen Selected Info - FINISH
*/


/* These two don't work, but it would be nice if they did */
#basemapWid .esri-basemap-gallery__item-thumbnail{
    height: 40px !important;
}

.esri-legend__service-label{
    display: none;
}