<div class="main">
  <div id="search-form" class="flexRow">
    <div id="1stCol" class="flexColumn rowElem">

      <mat-form-field>
        <div>
          <mat-select [(value)]="selectedRegion" placeholder="NYSDOT Region" name="regions" id="regionSelect" (selectionChange)="onRegionChange()">
            <mat-option value="All" selected>All</mat-option>
            <mat-option *ngFor="let region of regions" value={{region.name}}>{{region.name}}</mat-option>
          </mat-select>
        </div>
      </mat-form-field>

      <mat-form-field>
        <div>
          <mat-select [(value)]="selectedCounty" placeholder="County" name="county" id="countySelect" (selectionChange)="onCountyChange()">
            <mat-option value="All" selected>All</mat-option>
            <mat-option *ngFor="let county of counties" value={{county.name}}>{{county.name}}</mat-option>
          </mat-select>
        </div>
      </mat-form-field>

      <mat-form-field>
        <div>
          <input #trailname matInput placeholder="Trail Name" [value]="trailName" (change)="trailName = trailname.value" type="text">
        </div>
      </mat-form-field>

      <div>
        <div class="labelstyling">Surface Type:</div>
        <br/>
        <app-checkbox class="rightPadding" *ngFor="let surfaceType of surfaceTypes" [label]="surfaceType" (toggled)="updateSQL($event)" [resetTrigger]="resetTrigger"></app-checkbox>
      </div>

    </div>
    <div id="secondCol" class="rowElem">
      <div>
        <h3 id="secondColHeader">Trail Use</h3>
      </div>
      <div class="flexRow paddin">
        <div *ngFor="let useType of useTypes" class="flexColumn paddin">
          <div class="marAuto">
            <img src="{{useType[1]}}" alt="">
          </div>
          <div class="marAuto">{{useType[0]}}</div>
          <app-checkbox class="marAuto" [label]="useType[0]" [imgSrc]="useType[1]" (toggled)="updateSQL($event)" [resetTrigger]="resetTrigger"></app-checkbox>
        </div>
      </div>
    </div>
  </div>

  <!-- Submit Buttons -->
  <div id="search-submit" class="flexRow">
    <button class="formBtn buttonPadding" (click)="search()">Search Maps</button>
    <button class="formBtn buttonPadding" (click)="resetForm()"> Reset Search</button>
  </div>


  <!-- Searching gif -->
  <div *ngIf="searching" class="flexRow">
    <img src="../../assets/searching.gif" alt="">
  </div>



</div>
<!-- End main -->