<div class="main">
  <div id="search-form" class="flexRow">
    <div id="1stCol" class="flexColumn rowElem">
      <div>
        <label for="regions">NYSDOT Region:</label>
        <select [(ngModel)]="selectedRegion" name="regions" id="regionSelect">
          <option value="All" selected>All</option>
          <option *ngFor="let region of regions" value={{region.name}}>{{region.name}}</option>
        </select>
      </div>

      <div>
        <label for="county">County:</label>
        <select [(ngModel)]="selectedCounty" name="county" id="countySelect">
          <option value="All" selected>All</option>
          <option *ngFor="let county of counties" value={{county.name}}>{{county.name}}</option>
        </select>
      </div>

      <div>
        <label for="">Trail Name:</label>
        <input type="text">
      </div>

      <div>
        <!-- Refactor to a component -->
        <label for="">Surface:</label>
        <input type="checkbox" id="paved" [checked]="isPaved" (change)="isPaved = !isPaved">
        <label for="paved">Paved</label>
        <input type="checkbox" id="gravel" [checked]="isGravel" (change)="isGravel = !isGravel">
        <label for="gravel">Gravel</label>
        <input type="checkbox" id="stoneDust" [checked]="isStoneDust" (change)="isStoneDust = !isStoneDust">
        <label for="stoneDust">Stone Dust</label>
        <input type="checkbox" id="dirt" [checked]="isDirt" (change)="isDirt = !isDirt">
        <label for="dirt">Dirt</label>
        <input type="checkbox" id="boardwalk" [checked]="isBoardwalk" (change)="isBoardwalk = !isBoardwalk">
        <label for="boardwalk">Boardwalk</label>
      </div>
    </div>
    <div id="2ndCol" class="rowElem">
      <div>
        <strong>Trail Use</strong>
      </div>
      <!-- MAKE A COMPONENT TO PRODUCE THESE -->
      <div class="flexRow">
        <div class="flexColumn paddin">
          <div class="marAuto">
            <img src="../../assets/walk-icon.png" alt="">
          </div>
          <div>Walking</div>
          <input class="marAuto" type="checkbox" [checked]="isWalking" (change)="isWalking = !isWalking">
        </div>
        <div class="flexColumn paddin">
          <div class="marAuto"><img src="../../assets/bike-icon.png" alt=""></div>
          <div>Biking</div>
          <input class="marAuto" type="checkbox" [checked]="isBiking" (change)="isBiking = !isBiking">
        </div>
        <div class="flexColumn paddin">
          <div class="marAuto"><img src="../../assets/skate-icon.png" alt=""></div>
          <div>Skating</div>
          <input class="marAuto" type="checkbox" [checked]="isSkating" (change)="isSkating = !isSkating">
        </div>
        <div class="flexColumn paddin">
          <div class="marAuto"><img src="../../assets/atv-icon.png" alt=""></div>
          <div>ATV</div>
          <input class="marAuto" type="checkbox" [checked]="isATV" (change)="isATV = !isATV">
        </div>
        <div class="flexColumn paddin">
          <div class="marAuto"><img src="../../assets/horse-icon.png" alt=""></div>
          <div>Horse</div>
          <input class="marAuto" type="checkbox" [checked]="isHorse" (change)="isHorse = !isHorse">
        </div>
        <div class="flexColumn paddin">
          <div class="marAuto"><img src="../../assets/ski-icon.png" alt=""></div>
          <div>Skiing</div>
          <input class="marAuto" type="checkbox" [checked]="isSkiing" (change)="isSkiing = !isSkiing">
        </div>
        <div class="flexColumn paddin">
          <div class="marAuto"><img src="../../assets/snow-mobile-icon.png" alt=""></div>
          <div>Snowmobile</div>
          <input class="marAuto" type="checkbox" [checked]="isSnowmoblie" (change)="isSnowmoblie = !isSnowmoblie">
        </div>
      </div>
    </div>
  </div>

  <div id="search-submit" class="flexRow">
    <button (click)="search()">Search Maps</button>
    <button>Reset Search</button>
  </div>

</div>
<!-- End main -->